body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
    color: #777;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h3 {
    margin: 0;
    font-size: 1.2em;
    color: #444;
}

p {
    margin: 5px 0;
    color: #666;
}
